.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@font-face {
  font-family: 'Russian';
  src: local('Russian'), url(./fonts/ostrog.ttf) format('truetype');}

.App-header {
  background-color: #231f1e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Russian, serif;

  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.red-letter {
  color: #c39a3b;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
