@font-face {
    font-family: 'Russian-1';
    src: local('Russian'), url(../../data/fonts/pisar.otf) format('truetype');
}

@font-face {
  font-family: 'Russian-2';
  src: local('Russian'), url(../../data/fonts/pisar.otf) format('truetype');
}

p:first-letter {
    color: #c39a3b; /* Красный цвет первой буквы */
    font-size: 200%;
}

h1:first-letter {
  color: #c39a3b; /* Красный цвет первой буквы */
  font-size: 200%;
}

.russian-h1 {
    font-family: Russian-1, serif;
}

.russian-h2 {
  font-family: Russian-2, serif;
}

.header-russian {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
  }
  
  .header-russian:hover, .header-russian:focus {
    text-decoration: none;
  }

  #mainNav .header-russian {
    font-family: "Russian-1", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    color: #c39a3b;
  }